.page {
  min-height: 100vh;
  max-width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;

  font-family: $ff-Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;

  @include vp-mobile {
    font-size: 14px;
    line-height: 18px;
  }
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;

  background-color: var(--background-primary);
  color: var(--color-text);
}

.page__header,
.page__footer {
  flex-shrink: 0;
}

.page__main {
  flex-grow: 1;
}

.page__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 30px;
  line-height: 120%;
  font-weight: 600;

  @include vp-mobile {
    font-size: 24px;
  }
}
