// Viewports
$vp-mobile-min: 320px;
$vp-mobile-max: 767px;
$vp-tablet-min: 768px;
$vp-tablet-max: 1023px;
$vp-desktop-min: 1024px;
$vp-desktop-max: 1360px;


// Fonts

$ff-Montserrat: "Montserrat", "Arial", sans-serif;
$ff-Roboto-Mono: "Roboto Mono", "Courier", sans-serif;
